.text-box h3:first-of-type {
    color: pink;
}
#greycol {
    color: grey;
}
.text-box div > p {
    color: red;
}
.text-box p:nth-of-type(4) {
    color: green;
}
.yellow {
    color: yellow;
}
.schedule {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.day {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
  border-radius: 8px;
}

.monday { background-color: #ffe4e1; }
.tuesday { background-color: #e0ffff; }
.wednesday { background-color: #f0fff0; }
.thursday { background-color: #fffacd; }
.friday { background-color: #f5f5dc; }